streamlit
python-dotenv
google-auth
google-auth-oauthlib
google-api-python-client
langchain
langchain-experimental
langchain-core
langchain-community
langchain-openai
openai
mysql-connector-python
Pillow
urllib3
streamlit-chat
streamlit-option-menu
retrying
requests
pandas
frappe-client
google-auth
streamlit-authenticator
